img {
  display: flex;
  flex-direction: row;
  height: 7rem;
  width: 7rem;
  margin: 0.5rem;
  border: 2px solid rebeccapurple;
}
/* img.followPic {
    padding-top: 3rem;
  } */
.info {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  border: 2px solid rebeccapurple;
  height: 13rem;
  width: 10rem;
  padding: 1rem;
  color: rebeccapurple;
  background-image: linear-gradient(90deg, lightyellow, #669933);
}
.lines {
  display: flex;
  justify-content: center;
}
.myCard {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 0.5rem;
}
