.git-card {
    background-color: $white;
    margin: 0 auto;
    width: 80vw;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 19px 38px rgba($black, 0.8), 0 15px 12px rgba($black, 0.7);
    @include mid-view(){
        flex-direction: column;
    }
}
.git-img {
    img{
    width: 35vw;
    height: 100%;
    }
}
.git-data {
    padding: clamp(2.5rem, 6vw, 10rem);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    font-size: clamp(1.2rem, 3vw, 3rem) ;

    color: $black;


    h1{
        font-size: clamp(2rem, 6vw, 7rem);
        padding-bottom: 1rem;

    }
    h2{
        font-size: clamp(1.2rem, 3vw, 3rem) ;

    }
    .bio {
        text-align: initial;
    }
    a{
        text-decoration: none;
        color: $link;;
        &:hover {
            color: darken($color: $link, $amount: 30)
        }
    }
}