@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}

body {
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
