a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: #f0e3ff;
  background-color: #d89cf6;
}
a:hover {
  background-color: #916dd5;
  color: #7fcd91;
  font-weight: 800;
}

img {
  width: 60%;
  border-radius: 50%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #3e206d;
}
