.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row.headerNav {
  padding: 1rem 0;
  background: rgba(30, 58, 254, 0.8); 
  display: flex;
  justify-content: space-between;
}

 .headerTitle {
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0 1rem;
}

 .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
}

 .cardObj {
  margin: 2rem 0;
}

 .chart {
  margin-top: 1rem;
}

 .loader {
  text-align: center;
  margin: 1rem 0;
}
