.main-content {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid green;

    .user {
        width: 40%;
        border: 1px solid blue;
    }
    
    .followers {
        width: 60%;
        border: 1px solid red;
    
    }
}

