header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 50px;
    background-color: @header-background;
    margin-bottom: 1%;

    h1 {
        font-size: 2rem;
    }
}

form {
    display: flex;
    align-items: center;
    
    div {
        margin-left: 5px;
    }

    .search-btn {
        display: flex;
        align-items: center;
        border-radius: 2px;
        background-color: burlywood;
        padding: 2px;
        height: 14px;
    }
}