.userCards {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: solid 1px lightgray;
   margin-top: 4%;
   width: 100%;
}

.myCard {
   display: flex;
   flex-flow: column;
   align-items: center;
   border: solid 1px lightgray;
   border-radius: 18px;
   margin-top: 4%;
   width: 50%;
}

.myCard > img {
   width: 88%;
   border-radius: 20px;
   margin-bottom: 4%;
}

.myCard > h3 {
   margin: 3% 0;
}

.myCard p {
   margin-bottom: 3%;
}