@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
.App {
  text-align: center;
  font-family: "Dongle";
}
html, body {
  width: 100%;
  height:100%;
}
body{
  background-color: #111111;
  margin: 0;
  overflow-x: hidden;
  
}
div.user > img{
  height: 90px;
  width: 90px;
  padding: 5%;
  border-radius: 50%

}

h3{
  font-size: 1.5rem;
  overflow-wrap: break-word;
  width: 100%;
  min-width: 200px;
}
.user{
  display: flex;
  justify-content: center; 
  margin-left: 10%;


}

.user-card{
  display: flex;
  justify-content: center;
  margin-left: 2%;
}
.usercard{
  display: flex;
  align-content: center;
  justify-content: space-evenly; 
  flex-flow: column nowrap;
  width:15%;
  color: white;
  opacity: .9;
}
.usercard .user{
  display: flex;
  justify-content: space-evenly; 
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20%;
  margin: 2%;
  max-width: 190px;
  max-height:200px;
  background: #242625;
  border-radius: 10px;
  box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
}
.user:hover{
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;

}
.followers{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size:15px;
  margin-left: 2%;

}
.followers .usercard{
  display: flex;
  justify-content: center;
}
img{
  max-width: 100px;
  min-width: 100px;
  width:100%;
  height: 100%;
}
.btTxt-submit{
  width:100%;
  max-width: 60px;
}
.header{
  color:white;
  font-size:3rem;

}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dongle";
}
.container {
  position:absolute;
  width:100%;
  height:100vh;
  background: #2c302d;
}
 h1{
  color:white;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('https://images.unsplash.com/photo-1602475063211-3d98d60e3b1f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3114&q=80') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .12s infinite;
  opacity: .15;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
@media(max-width:800px){
  .user-card{
    display: flex;
    justify-content: center;

  margin-right: 13%;
  }
 .usercard .user{
   width: 190px;
   
 }

 .followers .usercard{
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap; 
  margin-left: 36%;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 15px 15px 30px #1b1c1b, ;
 
 }
 .followers{
  float: left;
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap; 
 }
 .caption{
   display:block;
 
 }
}

@media(max-width:500px){
  .user-card{
    display: flex;
    justify-content: center;
    margin-right: 45%;
  }

 .followers .usercard{
  width: 600%;
  margin-left: 22%;

 }

}