.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }

  img {
    border-radius: 20px;;
  }

  .follower{
    
  }
  .followersinfo{
    border: skyblue solid 1px;
    margin:0px 500px 0 500px;
    
  }