button {
  margin: 0 auto;
  width: 80px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
}

.followers-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.followers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.img {
  width: 100px;
  height: 100px;
}
