.App {
  text-align: center;
  /* background-image: url(../src/img/woodtable.jpg); */
  border: 40px solid white;
}
.App h1 {
  font-size: 400%;
  color: black;
}

.userClass {
  border: 5px solid black;
  width: 80%;
  margin: 0% 5% 5% 10%;
}

.userClass img {
  border-radius: 50%;
}

.userClass h2{
font-size: 400%;
color: rgb(17, 17, 17);
}

.userClass a{
color: rgb(20, 20, 20);
font-size: 400%;
}
