@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  /* background: 
  linear-gradient(to bottom, #030106 10%,#06020D 25%, #130320 70%, #1f003b 100%); */
  background: linear-gradient(141deg, #dfe1e3 0%, #701acf 51%, #350b57 75%);
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
  font-weight: light;
}



.App {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.header {
  font-weight: bold;
  padding: 40px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.user-card {
  background: white;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.userImage {
  width: 430px;
  padding: 20px 20px 0px;
}
