.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.userCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user {
  background: burlywood;
  border: 1px solid #282c34;
  text-align: center;
  display: inline-block;
}

.followers {
text-align: center;
}
