body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainUserConatiner, .followers, .following{
  display:flex;
  flex-direction: column;
  text-align: center;
  border:1px solid black;
}

.usersCardsBox, .repos{
  display:flex;
  flex-direction: row;
  width:100%;
  flex-wrap: wrap;
  justify-content:flex-start;
}
.card{
  width:20%;
}
.userPhoto img{
  margin: 0 auto;
  width: 50%;
  border-radius: 70px;
}
p {
  font-size: 18px;
}
h2{
  font-size: 20px;
}
a{
  font-size: 15px;
  text-decoration: none;
}
li{
font-size: 14px;
}