.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image:linear-gradient(to top right, #0066ff, #0000cc, whitesmoke ) ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width:50%;
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 2px 2px black;
}
 .card-body {
  color: #0000cc;
  text-align: left;
  width:50%;
  margin:0;
  display:flex;
  flex-direction: column;

}

.card-img {
  width:30%;
  /* height: 25vh; */
  margin: 2%;
}

.card-subtitle {
  font-size: large;
  font-weight: bold;
}

.card-title {
  font-size: x-large;
  font-weight: bolder;
}

.card-text {
  font-size: medium;
  font-weight: 500;
  margin:0;
}

.card-link {
  font-size: medium;
  font-weight: 500;
}
