.App {
  text-align: center;
  background-color:#1b262c;
 
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1,h2{
  color:#3282b8;
}

.url{
  color:#bbe1fa;
}

.bio{
  color:#bbe1fa;
  font-size:1.5rem;
}