
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}


/* Reset above, our CSS below */
* {
  box-sizing: border-box;
}

a, a:visited, a:link {
    color: black;
}

html, body, * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2% 0 2%;
  border-bottom: 3px solid black;
  box-shadow: 1px 1px 1px white;
}
h1 {
    font-size: 2.1rem                       ;
}

header img {
  width: 75px;
  border-radius: 50%;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.card {
  width: 90%;
  padding: 20px;
  display: flex;
  border-radius: 25px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: #FFF;
  margin-bottom: 30px;
}

.follower{
    width: 40%;
}

.card-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 40px;
  margin-right: 20px;
}

.card .name {
  font-size: 3.4rem;
}

.card p {
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.card .username {
  font-size: 1.8rem;
  font-style: italic;
  margin: 3px 0 10px;
}

.search-bar {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 2% auto;
}

.search-bar input {
    border: 2px solid black;
    border-radius: 20px;
    padding:1% 0 1% 1%;
    margin-bottom: 1.5%;

}

.search-bar button {
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    box-shadow: 2px 2px 2px black;
}



