.App {
  text-align: center;
  background-color: lightgrey;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;

}
.card {
  width: 50%;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  flex-direction: column;
  background-color:grey;
  padding: 3em;
  border-left: 2em;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  margin-bottom: 30px;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 3px;
  margin-right: 20px;
}

.card p {
  font-size: 1.4rem;
  margin-bottom: 3px;
}