.App {
  text-align: center;
  background-image:url('https://images.unsplash.com/photo-1477949331575-2763034b5fb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-repeat:no-repeat;
  background-size:cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container {
  display:flex;
  flex-direction:row;
  align-content: center;
  justify-content:space-evenly;
  flex-wrap: wrap;
}
.myCard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: linear-gradient(grey,lightgrey,darkgrey);
  text-align:center;
  width:65%;
}
.myCard:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: linear-gradient(grey,lightgrey,darkgrey);
  border-radius: 5px;
  max-width:40%;
  margin:20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
