.App {
  text-align: center;
  background-color: gray;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}


.App-header {
  background-color: #282c34;
  min-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.user-card{
  display: flex;
  justify-content: center;
  width:80%;
}
 .usercard {
  background-image: linear-gradient(lightgreen, teal);
  margin: 2%;
  padding:5%;
  text-align: left;
  width: 80rem;
  height: 40rem;
  

}

h2 {
  font-size: 5rem;;
}

h3 {
font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

.follower-card {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
 
}
.followercard {
  width: 30rem;
  height: 50rem;
  margin: 2%;
  padding:5%;
  text-align: left;
  background-image: linear-gradient(lightgreen, teal);
  
}
