@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  background: border-box;
  margin: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: black;
  font-family: 'Roboto', sans-serif;
}

.App {
  border: 25px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: sans-serif;
  margin: 3%;
}

.App h1 {
  font-size: 4rem;
  text-shadow: 3px 3px #ddd;
}

.user-card {
  margin:5%;
  margin-top: 2%;
  padding: 10%;
}

.indiviual-user {
  display: flex;
}

.individual-user img {
  max-width: 300px;
  border-radius: 50%;
  margin: 1.5 rem;
  margin-top: 2%;
  border: 2px solid #ddd;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.individual-info a {
  color: black;
}

/* .search-user {

} */