.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardContainer {
  position: absolute;
}

.icon {
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

#particles-js {
  background: dimgray;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
}
