.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  background-color: rgb(69, 123, 117);
  /* width:300px; */
  font-size: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:25px;
  border:navy 10px ridge;
  text-align: center;
  width:250px;
  padding: 5px;
}

.profilePic{
  /* border: 2px rgb(29, 29, 95) solid; */
  width:250px;
  height:250px;  
  border-radius: 25%;

}

