#root {
  width: 880px;
  height: 880px;
  margin: 0 auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.user-card {
  border: 1px solid black;
  border-radius: 3rem;
  padding: 1.5rem;
  margin: 1rem;
  box-shadow: 5px 5px 10px gray;
  background-color: white;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card a {
  color: #2d2d37;
  text-decoration: none;
}

.user-card a:hover {
  font-weight: 900;
}

.container {
  background-color: skyblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-card img {
  max-width: 300px;
}