body {
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.App {
  color: white;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(#ffffff75, #ffffff00);
}

.App-header h3 {
  padding: 1rem 0 2rem 1rem;
}

.searchbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

input {
  padding: 0.4rem;
  border-radius: 4px;
  border: 2px solid grey;
}

.profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(#ffffff00, #ffffff15);
  .profile-name {
    h3 {
      padding: .5rem 0;
    }
    h5 {
      padding: .2rem 0;
    }
  }
  img {
    width: 200px;
    border-radius: 100px;
    margin: 2rem;
  }

}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  .stat-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
  }
}

.followers {
  text-align: center;
  padding: 1rem;
  .followers-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}

.rainbow-wrapper {
  background-image: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%);
  animation: spin infinite 10s linear;
  border-radius: 150px;
  margin: 1rem;
}

.follower {
  padding: 1rem;
  width: 150px;
  height: 150px;
  text-align: center;
  animation: spin infinite 10s linear reverse;
}

.follower img {
  width: 80px;
  border-radius: 80px;
}

.follower a {
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bgcolor {
  0% {
    background-color: #45a3e5;
  }

  30% {
    background-color: #66bf39;
  }

  60% {
    background-color: #eb670f;
  }

  90% {
    background-color: #f35;
  }

  100% {
    background-color: #864cbf;
  }
}
