.App {
   padding: 2rem;
   background-color: gainsboro;
 }


h1 {
    text-align: center;
}
.followers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #615d5d;
}

.card-img {
    width: 50vh;
    padding: 1rem;
    margin: auto;
}

.card-title, p {
    text-align: center;
}
.followers.card-body {
    background-color: #3f3f3f;
}

.Form {
    display: flex;
    justify-content: center;
}