html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 100%;
}

.card {
  width: 760px;
  padding: 20px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 5px 6px -2px #000;
  background-color: #FFF;
  margin-bottom: 30px;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 3px;
  margin-right: 20px;
  
}

.card .name {
  font-size: 3.4rem;
  text-align: center;
}

.card p {
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.card .username {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  margin: 3px 0 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
}






