


body {
  background: #335D7E;
}

.main-profile{
  background: #F27280;
  padding: 20px;
  margin: 50px;
  width: 30%;
  text-align: center;
  border-radius: 20px;
}

.card .main-profile {
  margin: 0 auto;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px 2px;
}

.body-card {
  background: #6D5C7D;
  padding: 30px;
  margin: 50px;
  width: 50%;
  text-align: center;
  border-radius: 20px;
}

.body-card img {
  width: 100%;
}

button {
  padding: 15px;
  margin-top: 10px;
  background: #F27280;
  border: 2px solid #6D5C7D;
}

a {
  text-decoration: none;
  color: white;
}