@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@500&family=Orbitron&display=swap');


.App {
  text-align: center;
  
}

h1{
  display:flex; 
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  font-size:6rem;
  text-shadow:-.5rem -.2rem white;
}

.header{
   display:flex; 
   justify-content: center;
   align-content:center;
   margin:4rem 2rem 8rem;
 
}

.logo{
  background-color:white;
  display:flex;
  justify-content:center;
}

.myImg{
  max-width:90%;
  margin:1rem;
  border: 2px solid rgb(34, 53, 28);
  border-radius:1rem;
  box-shadow:2px 3px 2px 3px rgb(36, 32, 32);
}

.link{
  color:black;
  font-size:1.5rem;
}

.card{
  border: 2px solid black;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.555);
  box-shadow:2px 3px 2px 3px rgb(36, 32, 32);
  margin:2rem;
  padding:1rem;
  text-align:center;
  font-family: 'Crimson Pro', serif;
  font-size:1.5rem;
 
}

.container{
 display:grid;
 grid-template-columns:repeat(3, minmax(0,1fr));
  gap:3rem;
  justify-items:center;
}

@media screen and (max-width:1050px){
  
.container{
  display:grid;
  grid-template-columns:repeat(2, minmax(0,1fr));
   gap:2rem;
   justify-items:center;
 }
}

@media screen and (max-width:1100px){
  .container{
    display:grid;
    grid-template-columns:repeat(1, minmax(0,1fr));
     gap:3rem;
     justify-items:center;
   }
}